{% extends 'base.html.twig' %}

{% block body %}

    <h1>Bienvenue dans ce blog !</h1>

    <p>Nisi velit pariatur pariatur sint incididunt exercitation mollit ea pariatur ut nostrud anim. Nostrud reprehenderit laborum veniam occaecat amet sint culpa. Tempor est ea ipsum consequat veniam. Sunt dolor proident pariatur incididunt amet deserunt voluptate velit officia exercitation laborum enim id.</p>

{% endblock %}
